language: ruby
rvm: 2.0.0
env: DB=postgresql
bundler_args: --without development:production
before_install: gem update bundler
before_script:
  - psql -c 'create database rgyazo_test_master' -U postgres
  - RAILS_ENV=test rake db:create db:test:load --quiet
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
