=render 'notice', notice: flash[:notice]
%table.table-striped
  %thead
    %tr
      %th.images_url=t('activerecord.attributes.image.url')
      %th.images_createed_at=t('activerecord.attributes.image.created_at')
      %th.images_action
  %tbody
    -@images.each do |image|
      %tr
        %td=link_to image_path(only_path: false, name: image.name, format: image.format), '#', 'class' => 'show'
        %td=l image.created_at
        %td=link_to t('helpers.submit.destroy'),
                '#',
                'data-image-src' => image_path(only_path: false, name: image.name, format: image.format),
                'data-delete-url' => admin_path(image),
                'class' => 'btn btn-danger confirm',
                'role' => 'button'

=render 'confirm'
=render 'show'
