=render 'notice', notice: flash[:notice]
%table.table-striped
  %thead
    %tr
      %th.images_url=t('activerecord.attributes.image.url')
      %th.images_createed_at=t('activerecord.attributes.image.created_at')
      %th.images_action
  %tbody
    -@images.each do |image|
      %tr
        %td=link_to image_path(only_path: false, name: image.name, format: image.format), '#', 'class' => 'show-modal'
        %td=l image.created_at
        %td=link_to t('helpers.submit.destroy'),
                '#',
                'data-image-src' => image_path(only_path: false, name: image.name, format: image.format),
                'data-delete-url' => admin_path(image),
                'class' => 'btn btn-danger confirm-modal',
                'role' => 'button'

/=paginate @images

%div#confirm-modal.modal.hide.fade
  .modal-header
    %button.close{'type'=>'button', 'data-dismiss'=>:modal, 'aria-hidden'=>true} &times;
    %h3=t('views.messages.confirm')
  .modal-body
    =image_tag '#', id: 'confirm-image-src'
  .modal-footer
    =link_to 'Close', '#', class: 'btn', 'data-dismiss'=>:modal, 'aria-hidden'=>true
    =link_to t('helpers.submit.destroy'), '#', method: :delete, class: 'btn btn-danger', id: 'delete-url'

%div#show-modal.modal.hide.fade
  .modal-header
    %button.close{'type'=>'button', 'data-dismiss'=>:modal, 'aria-hidden'=>true} &times;
    %h3#show-image-url
  .modal-body
    =image_tag '#', id: 'show-image-src'
  .modal-footer
    =link_to 'Close', '#', class: 'btn', 'data-dismiss'=>:modal, 'aria-hidden'=>true
