!!!
%html{lang: "ja", xmlns: "http://www.w3.org/1999/xhtml", "xml:lang" => "ja" }
  %head
    %meta{charset: "utf-8"}/
    =stylesheet_link_tag    "application", media: "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .container
      .row
        =yield
